.panel-header {
    margin-bottom: 1.5em;

}
.panel {
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 10%;
    min-width: 30%;
    min-height: 30%;
    align-content: center;
}
.info {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#timer {
    font-weight: bold;
}